@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --view-width: 270px;
    --wavy-width: calc(270px / 2 );

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05em;

}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    height: 570px;
    width: var(--view-width);
    box-shadow: 0 0 26px #88888870;
    border-radius: 40px;
    position: relative;
    display: flex;
    overflow: hidden;

}

.innerContainer {
    position: absolute;
    top: 0;
    width: calc(var(--view-width) * 2);
    height: 100%;
    right: 0;
    display: flex;
}

.viewSize {
    width: var(--view-width);
    height: 100%;
    position: relative;
}

.selectImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.selectUploadImageButton {
    background-color: none;
    border: none;
    width: 150px;
    height: 150px;
    background-color: #484848;
    border-radius: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 35px 0;
    animation: scaleShadow 1000ms infinite linear;
    cursor: pointer;
}

@keyframes scaleShadow {
    from {

        box-shadow: 0 0 0 0px #484848;
    }

    80% {
        box-shadow: 0 0 0 20px #48484800;

    }
}

.selectUploadImageButton:hover, .selectUploadImageButton:focus {
    background-color: #2CD1A9;
    animation: scaleShadowColorized 1000ms infinite linear;

}

@keyframes scaleShadowColorized {
    from {

        box-shadow: 0 0 0 0px #2CD1A9;
    }

    80% {
        box-shadow: 0 0 0 20px #2CD1A900;

    }
}

.selectUploadImageButton img {
    width: 40px;
}

.animatedView {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #484848ee;
    overflow: hidden;
}

.wavyView {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}   
.wavyView::before {
    content: "";
    position: absolute;
    width: calc(var(--view-width) + 50px);
    height: calc(var(--view-width) + 50px);
    background-color: #fff;
    top: var(--wavy-width) ;
    border-radius: 45%;
    animation: wavyView 10000ms infinite linear;
}

.wavyView::after {
    content: "";
    position: absolute;
    width: calc(var(--view-width) + 70px);
    height: calc(var(--view-width) + 70px);
    background-color: #ffffff50;
    top: var(--wavy-width);
    border-radius: 40%;
    animation: wavyView 10000ms infinite linear;
    transform: rotate(40deg);

}

@keyframes wavyView {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}

.countUp {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: absolute;
    perspective: 100px;

} 

.countUp > span {

    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    width: 150px;
    height: 40px;
}

.loadingContainer {
    opacity: 0;
}

.okayImage {
    width: 40px;
    
    transform: rotateY(90deg);
    display: none;
}

#copyright {
    position: absolute;
    width: 150px;
    z-index: 999;
    transform: translateY(100px) translateX(10px);
    opacity: 0;
}